.navbar {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 70px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu li:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
    background-clip: text;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar img {
    max-width: 250px;
    cursor: pointer;
    transition: 0.5s;
}

.navbar img:hover {
    transform: scale(1.05);
}

.nav-connect {
    padding: 12px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li img {
    max-width: 30px;
    padding-left: 20px;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

@media(max-width: 1260px) {
    .navbar {
        margin: 20px 50px;
        padding-top: 20px;
    }
    .nav-connect {
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 2px;
        padding-right: 20px;
        width: 50px;
    }
    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-mob-close:hover {
        transform: scale(1.50);
        border: none;
        border-radius: 50%;
        padding: 1px;
        background-color: #98919a9a;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
    .anchor-link {
        display: flex;
        flex-direction: row;
    }
}