.footer {
    margin: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border: 2px solid #f1890a;
    border-radius: 5px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top-left p {
    font-size: 20px;
    max-width: 400px;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-media-links {
    display: flex;
    gap: 30px;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #32323c;
}

.footer-media-links img {
    border: none;
    border-radius: 8px;
    max-width: 50px;
}

.footer-media-links img:hover {
    border: 2px solid #f10aed;
}

.footer-top-left img {
    max-width: 250px;
    cursor: pointer;
    transition: 0.5s;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer-bottom-right {
    display: flex;
    gap: 50px;
    margin-bottom: 5px;
}

.footer-bottom-right p {
    cursor: pointer;
}

.anchor-link img:hover {
    transform: scale(1.05);
}

@media(max-width: 768px) {
    .footer {
        width: auto;
        align-items: center;
        margin-left: 20px;

    }
    .footer-top {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        margin: 10px;
    }
    .footer-top-right {
        
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .footer-media-links {
        border-width: 100%;
        margin: 2px;
    }
    .footer-media-links img {
        max-width: 30px;
    }
    .footer-top-left {
        align-items: center;
    }
}